body {
	/*background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Lake-Halkj%C3%A4rvi-Somero-Finland.jpg/640px-Lake-Halkj%C3%A4rvi-Somero-Finland.jpg");*/
	background-repeat: no-repeat;
	background-size: auto;
	background-color: grey;
	color: white;
	
		width: 80%;
		margin-left: 20px;
		margin-right: auto;
	}
	
H1	{
	font-size: 40px;
	margin-left: 15px;
	}
	
p	{
	font-size: 16px;
	color: black;
	}
	
.divelementti {

	border-style: none;
	border-width: 2px;
	height: 100px;
	width: 200px;
}



.divi {
	margin-left: 20px;
	margin-top: 100px;
	border: 6px black solid;
	width: 220px;
	color: red;
	background-color: goldenrod;
	border-radius: 20px;
	
}

	figure {
		border: 2px yellow solid;
		padding: 2px;
		width: 200px;
		
	}
	
	  figcaption {
		background-color: green;
		color: red;
		padding: 3px;
		text-align: center;
	  }

	.header {
		background-color:hotpink;

	}

*{box-sizing: border-box;}

	.nav {
		font-family: "copperplate", fantasy;
		float: left;
		width: 30%;
		background-color: cadetblue;
		list-style-type: none;
		padding: 10px;
	}

	.section {
		font-family: "Papyrus", fantasy;
		color:black;
		font-size: 17px;
		float: right;
		width: 60%;
		background-color:violet;
		padding: 20px;
	}

	img {
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: red;
		color: white;
		text-align: center;
	}

	.div {
		margin-left: 30px;
		width: 900px;
		color: goldenrod;
		background-color:  #dddddd;
	}

	ul {
		list-style-type: none;
		
	  }

	  li a {
		display: block;
		width: 150px;
		background-color: cadetblue;
	  }

	  a:hover {
		color: red;
	  }